{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'network/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4984a29c3b.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 main-area sidebar-sticky sticky-top">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item main-logo list-link-item">
                            <a><i class="fas fa-fan"></i></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="fas fa-home link-item"></i><b>Home</b></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="fas fa-hashtag link-item"></i><b>Following</b></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="far fa-bell link-item"></i><b>Notifications</b></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="far fa-envelope link-item"></i><b>Messages</b></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="far fa-bookmark link-item"></i><b>Bookmarks</b></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="far fa-list-alt link-item"></i><b>Lists</b></a>
                        </li>
                        <li class="nav-item list-link-item">
                            <a><i class="far fa-user link-item"></i><b>Profile</b></a>
                        </li>
                    </ul>
                </nav>
                {% if user.is_authenticated %}
                <a href="{% url 'network:logout' %}"><button class="btn btn-primary logout-button">Log out</button></a>
                <div class="user-info-left-menu">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p>@{{ user }}</p>
                </div>
                {% else %}
                <a href="{% url 'network:login' %}"><button class="btn btn-primary logout-button">Log in</button></a>
                {% endif %}
            </div>
            <div class="col-md-6 main-area">
                {% block body %}
                {% endblock %}
            </div>
            <div class="col-md-3 main-area"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
$('.post-create-input').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
});
</script>
</html>