{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4984a29c3b.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-sticky sticky-top">
                    <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a><i class="fas fa-fan"></i></a>
                        </li>
                        <li class="nav-item">
                            <a><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a><i class="fas fa-hashtag"></i> Following</a>
                        </li>
                        <li class="nav-item">
                            <a><i class="far fa-bell"></i> Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a><i class="far fa-envelope"></i> Message</a>
                        </li>
                        <li class="nav-item">
                            <a><i class="far fa-bookmark"></i> Bookmarks</a>
                        </li>
                        <li class="nav-item">
                            <a><i class="far fa-list-alt"></i> Lists</a>
                        </li>
                        <li class="nav-item">
                            <a><i class="far fa-user"></i> Profile</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-6">
                <div class="body-header">
                    {{ body_header }}
                    ALL POSTS
                </div>
                <div class="post-form">
                    <form method="POST" action="/">
                        {% csrf_token %}
                            {{ form }}
                        {% if object %}
                            hihi
                        {% endif %}
                        <input type="submit" value="Create">
                    </form>
                </div>
                <div class="new-feed">
                {% block posts %}
                {% endblock %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>