{% extends "network/layout.jinja" %}
{% load static%}
{% block body %}
<div class="body-header row">
    <b>{{ body_title }}</b>
</div>
<div class="post-form row">
    <div class="col-1 avatar-post-form-container">
        <img class="avatar-post-from-img rounded-circle"
        src="{% if user.avatar_pic %}{{ user.avatar_pic.url }}{% else %}/media/user.svg{% endif %}">
    </div>
    <div class="col-11">
        <form method="POST" action="{% url 'post:post_create' %}">
            {% csrf_token %}
                {{ form }}
            {% if object %}
                hihi
            {% endif %}
            <div class="create-post-button">
                <button class="btn btn-primary" type="submmit">Yield</button>
            </div>
        </form>
    </div>
</div>
<div class="news-feed row">
    {% for post in posts %}
        <div class="post-item">
            <div class="post-header row">
                <div class="col-2 post-avatar">
                {% if post.owner.avatar_pic %}
                    <img src="{{ post.owner.avatar_pic.url }}" class="post-avatar-img rounded-circle">
                {% else %}
                    <img src="/media/user.svg" class="post-avatar-img rounded-circle">
                {% endif %}
                </div>
                <div class="col-10 post-info">
                    <p>
                        <b>{{ post.owner }}</b>
                        {% if post.owner == user %}
                            <button>Edit</button>
                        {% else %}
                            {% if post.follow_already %}
                                <i class="fas fa-check-circle follow-already-icon interaction-icon-button"></i>
                            {% else %}
                                <i class="fas fa-plus-circle follow-icon interaction-icon-button"></i>
                            {% endif %}
                        {% endif %}
                    </p>
                    <p>Created at {{ post.created_time }}</p>
                </div>
            </div>
            <div class="post-content">
                {{post.content}}
            </div>
            <hr style="margin: 5px;">
            <div class="post-interaction row">
            <input type="hidden" value="{{ post.id }}">
                <div class="col-3 interaction-holder">
                    <span>{{ post.like_count }}</span>
                    <i class="far fa-thumbs-up interaction-icon-button
                        {% if post.owner == user or post.dislike_already %}
                            post_owner_like
                        {% elif post.like_already %}
                            post_like_already
                        {% else %}
                            can-like like-button
                        {% endif %}
                    "> Like</i>
                </div>
                <div class="col-3 interaction-holder">
                    <span>{{ post.dislike_count }}</span>
                    <i class="far fa-thumbs-down interaction-icon-button
                        {% if post.owner == user or post.like_already %}
                            post_owner_like
                        {% elif post.dislike_already %}
                            post_dislike_already
                        {% else %}
                            can-like
                        {% endif %}
                    "> Dislike</i>
                </div>
                <div class="col-3 interaction-holder">
                    <span>{{ post.comment_count }}</span>
                    <i class="far fa-comment-dots"> Comment</i>
                </div>
                <div class="col-3 interaction-holder"><i class="far fa-share-square"></i> Share</div>
            </div>
        </div>
    {% endfor %}
    
    {% if is_paginated %}
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {# <li class="page-item active"><a class="page-link" href="#">33</a></li> #}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    {% endif %}
</div>
{% endblock %}
{% block jscript %}
<script src="{% static 'network/js/newsfeedinteraction.js' %}"></script>
{% endblock %}
