:root {
    --color: #2FB5FA;
}
body {
    margin-top: 5px;
}
.main-logo {
    color: var(--color);
    font-size: 30px;
}
.link-item {
    margin-right: 10px;
}
.main-area {
    margin-top: 5px;
    height: 100vh;
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: rgb(241, 231, 231);
    /* border-collapse: collapse; */
    /* border: 1px solid grey; */
}
.list-link-item {
    margin: 10px;
}
.list-link-item:hover {
    color: var(--color);
    cursor: pointer;
}
.logout-button {
    width: 80%;
    border-radius: 50%
}
.body-header {
    border-bottom: 2px solid rgb(241, 231, 231);
    padding: 10px;
}
.post-avatar {
    padding: 10px;
}
.post-form {
    border-bottom: 2px solid rgb(241, 231, 231);
    padding: 15px;
}
.post-create-input {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
}
.avatar-post-form-container {
    padding: 0px !important;
}
.avatar-post-from-img {
    width: 100%;
}
.create-post-button {
    float: right;
    margin-right: 10px;
}
.news-feed {
    background: #f2f2f2;
    height: auto;
    padding: 10px 30px;
}
.post-item {
    width: 100%;
    background: white;
    margin: 8px;
    padding: 10px;
}
.interaction-holder {
    text-align: center;
}
.interaction-icon-button {
    cursor: pointer;
}
.post_owner_like {
    opacity: 0.5;
    cursor: inherit;
}
.post_like_already {
    color: var(--color);
}
.post_dislike_already {
    color: red;
}
.follow-icon {
    color: var(--color);
}
.follow-already-icon {
    color: green;
}
.post-avatar-img {
    width: 100%;
}